body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.jumbotron {
  background-image: url('https://media3.giphy.com/media/82ydvKFHMCdFK/200_s.gif');
  color: white;
}

.list-group {
  box-shadow: none;
}

.list-group-item {
  margin: 10px;
}
